{
  "semi": true,
  "singleQuote": false,
  "printWidth": 110,
  "tabWidth": 2,
  "trailingComma": "none",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx,vue}",
      "options": {
        "semi": true
      }
    }
  ]
}
